#contact {
    background-color: #0d8cbe;
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

#contact p {
    margin-top: 1rem;
}

#contact p span {
    margin-right: 2rem;
}

#contact-info {
    float: left;
}

#contact-map {
    float: right;
}

#contact img {
    width: 20%;
    height: 10rem;
}
